/* Media queries */

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /* Menu hamburguesa */
  .collapse {
    border-radius: 15px;
    box-shadow: 2px 0 3px black;
  }
  .nav-link {
    color: white;
    background-color: white;
    text-align: center;
  }
  /* contenido landing page */
  .content {
    display: flex;
    flex-direction: column;
  }

  /* Div description */
  .description {
    width: 100%;
  }

  .cubo {
    width: 95%;
  }

  .cubo-img img {
    width: 80%;
  }

  .cubo h2 {
    font-size: 35px;
  }

  .cubo p {
    font-size: 15px;
  }

  /* Div que contiene imagen */
  .content-img {
    width: 100%;
    background-color: white;
  }
  .landing-page-img{
    width: 100%;
    padding: 0px;
  }
  .landing-page-img img{
    border-radius: 0px;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Div description */

  .content {
    display: flex;
    /* flex-direction: column; */
  }

  /* Div description */
  .description {
    width: 50%;
  }

  .cubo {
    width: 95%;
  }

  .cubo-img img {
    width: 80%;
  }

  .cubo h2 {
    font-size: 35px;
  }

  .cubo p {
    font-size: 20px;
  }

  /* Div que contiene imagen */
  .content-img {
    width: 50%;
    background-color: white;
  }
  .landing-page-img{
    width: 100%;
    padding: 0px;
  }


}


/** dispositivos medianos (tablets) */
@media (min-width: 927.1px) and (max-width: 991px) {
/* Landing page */
/* Description > .cubo */
  .cubo{
    width: 95%;
    padding-bottom: 20px;
  }
  .cubo h2{
    font-size: 45px;
  }
  .cubo p{
    font-size: 15px;
  }

  /* Div que contiene imagen */
  .landing-page-img{
    text-align: center;
  }
  .landing-page-img img{
    border-radius: 15px;
    width: 450px;
    height: 600px;
  }

}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}