*{
    padding: 0px;
    margin: 0px;
}

body{
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Barra de navegacion */
/* ############################################## */
/* ############################################## */
/* ############################################## */
.fixed-nav{
    width: 100%;
    height: 70px; 
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: #F3F3F3;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    /* Anclar barra */
    position: fixed;
}
/* Flex container */
/* .nav-menu {
    display: flex;
    justify-content: center;
    line-height: 70px;
} */

.nav-item{
    margin: 0 2rem;
}

.nav-link{
    color: #001C4C;
}

.nav-link:hover{
    border-bottom: 4px solid red;
}

/* Fin barra de navegacion */


/* ################################################################## */
/* ################################################################## */
/* ################################################################## */

/* Inicio landig page */
/* Div Content */
.content{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #001C4C;
    color: white;
    overflow: hidden;
}


/* Div description */
.description{
    width: 50%;
}
.cubo{
    width: 75%;
    margin: 0 auto;
}

/* Div que contiene imagen logo */
.cubo-img{
    text-align: center;
    margin-top: 60px;
}
.cubo-img img{
    width: 350px;
}

.cubo h2{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    margin: 70px 0px;
    letter-spacing: 3px;
}


/* Div content-img */
.content-img{
    width: 50%;
    /* background-color: #F3F3F3; */
}

.landing-page-img{
    text-align: center;
    padding: 25px 0;
}

.landing-page-img img{
    width: 550px;
    height: 600px;
    border-radius: 15px;
}



/* Responsive */
/* ######################################################################## */
/* ######################################################################## */
/* ######################################################################## */
/* ######################################################################## */

@media (max-width: 575px) {
    /* Menu hamburguesa */
    .navbar-collapse{
      border-radius: 15px;
      box-shadow: 2px 0 3px black;
      background-color: #F3F3F3;
      
    }
    .nav-link {
      text-align: center;
    }
  
    /* contenido landing page */
    .content {
      display: flex;
      flex-direction: column;
    }
  
    /* Div description */
    .description {
      width: 100%;
    }
  
    .cubo {
      width: 95%;
    }
  
    .cubo-img img {
      width: 80%;
    }
  
    .cubo h2 {
      font-size: 35px;
    }
  
    .cubo p {
      font-size: 15px;
    }
  
    /* Div que contiene imagen */
    .content-img {
      width: 100%;
      background-color: white;
    }
    .landing-page-img{
      /* width: 100%; */
      padding: 0px;
    }
    .landing-page-img img{
      width: 100%;
      border-radius: 0px;
    }
  }